/************************************************
* Highlight *
************************************************/
.de1, .de2 {
}

.php, .css, .xml, .html4strict {
}

.imp {
	font-weight: bold;
	color: red;
}

/********** List Items **********/
.css li, .css .li1, .php li, .php .li1 {
	font-weight: normal;
	vertical-align: top;
}

/********** Lines **********/
.ln {
	width: 1px;
	text-align: right;
	margin: 0;
	padding: 0 2px;
	vertical-align: top;
}

.li2 {
	font-weight: bold;
	vertical-align: top;
}

/********** Highlighted Lines **********/
.ln-xtra, li.ln-xtra, div.ln-xtra {
	background-color: #ff4;
}

span.xtra {
	display: block;
}

/********************* PHP *********************/
/********** Keywords **********/
.php .kw1 {
	color: #060;
}

.php .kw2 {
	color: #00f;
	font-weight: bold;
}

.php .kw3 {
	color: #00f;
}

.php .kw4 {
	color: #060;
	font-weight: bold;
}

/********** Comments **********/
.php .co1 {
	color: #f90;
}

.php .co2 {
	color: #666666;
	font-style: italic;
}

.php .co3 {
	color: #0000cc;
	font-style: italic;
}

.php .co4 {
	color: #009933;
	font-style: italic;
}

.php .coMULTI {
	color: #f90;
}

/********** Escaped Characters **********/
.php .es0 {
	color: #000099;
	font-weight: bold;
}

.php .es1 {
	color: #000099;
	font-weight: bold;
}

.php .es2 {
	color: #660099;
	font-weight: bold;
}

.php .es3 {
	color: #660099;
	font-weight: bold;
}

.php .es4 {
	color: #006699;
	font-weight: bold;
}

.php .es5 {
	color: #006699;
	font-weight: bold;
	font-style: italic;
}

.php .es6 {
	color: #009933;
	font-weight: bold;
}

.php .es_h {
	color: #000099;
	font-weight: bold;
}

/********** Brackets **********/
.php .br0 {
	color: #000;
}

/********** Symbols **********/
.php .sy0 {
	color: #00f;
}

.php .sy1 {
	color: #000000;
	font-weight: bold;
}

/********** Strings **********/
.php .st0 {
	color: #c00;
}

.php .st_h {
	color: #c00;
}

/********** Numbers **********/
.php .nu0 {
	color: #f00;
}

.php .nu8 {
	color: #208080;
}

.php .nu12 {
	color: #208080;
}

.php .nu19 {
	color: #800080;
}

/********** Methods **********/
.php .me1 {
	color: #000;
}

.php .me2 {
	color: #004000;
}

/********** Regular Expressions **********/
.php .re0 {
	color: #06f;
}

/********************* CSS *********************/
/********** Keywords **********/
.css .kw1 {
	color: #009;
}

.css .kw2 {
	color: #00f;
}

/********** Comments **********/
.css .co1 {
	color: #900;
}

.css .co2 {
	color: #999;
	font-style: italic;
}

.css .coMULTI {
	color: #999;
}

/********** Escaped Characters **********/
.css .es0 {
	color: #000099;
	font-weight: bold;
}

/********** Brackets **********/
.css .br0 {
	color: #f0f;
}

/********** Symbols **********/
.css .sy0 {
	color: #f0f;
}

/********** Strings **********/
.css .st0 {
	color: #060;
}

/********** Numbers **********/
.css .nu0 {
	color: #00f;
}

/********** Regular Expressions **********/
.css .re0 {
	color: #00f;
}

.css .re1 {
	color: #f0f;
}

.css .re2 {
	color: #3333ff;
}

.css .re3 {
	color: #00f;
}

/********************* XML *********************/
/********** Comments **********/
.xml .sc2 {
	color: #999;
}

/********** Escaped Characters **********/
.xml .es0 {
	color: #000099;
	font-weight: bold;
}

/********** Brackets **********/
.xml .br0 {
	color: #66cc66;
}

/********** Symbols **********/
.xml .sy0 {
	color: #66cc66;
}

/********** Strings **********/
.xml .st0 {
	color: #060;
}

/********** Numbers **********/
.xml .nu0 {
	color: #cc66cc;
}

/********** Scripts **********/
.xml .sc-1 {
	color: #808080;
	font-style: italic;
}

.xml .sc0 {
	color: #00bbdd;
}

.xml .sc1 {
	color: #f0f;
	font-style: italic;
}

.xml .sc3 {
	color: #009;
}

/********** Regular Expressions **********/
.xml .re0 {
	color: #000066;
}

.xml .re1 {
	color: #003;
}

.xml .re2 {
	color: #003;
}

/********************* HTML *********************/
.html4strict .li2 {
	font-weight: bold;
	vertical-align: top;
}

/********** Comments **********/
.html4strict .sc-1 {
	color: #999;
}

/********** Keywords **********/
.html4strict .kw2 {
	color: #009;
}

.html4strict .kw3 {
	color: #000066;
}

/********** Escaped Characters **********/
.html4strict .es0 {
	color: #000099;
	font-weight: bold;
}

/********** Brackets **********/
.html4strict .br0 {
	color: #009;
}

/********** Symbols **********/
.html4strict .sy0 {
	color: #009;
}

/********** Strings **********/
.html4strict .st0 {
	color: #00f;
}

/********** Numbers **********/
.html4strict .nu0 {
	color: #cc66cc;
}

/********** Scripts **********/
.html4strict .sc0 {
	color: #00bbdd;
}

.html4strict .sc1 {
	color: #ddbb00;
}

.html4strict .sc2 {
	color: #009;
}